# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
# ignore extension SCSS because it's dynamically generated
lib/extensions/_extensions.scss
#JHS 091019 ignore other .env file
env-variables.env
.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
node_modules/*
.tmuxp.*
package-lock.json
