{% extends "layout.html" %}

{% block pageTitle %}
  Equality questions - ethnicity asian
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if data['respondent'] == 'true' %} 
        <form action="../religion?respondent=true&" method="post" novalidate>  
      {% else %}
        <form action="../religion?respondent=false&" method="post" novalidate>
      {% endif %}  


      {% set asianOtherHtml %}
        {{ govukInput({
          id: "ethnicity-asian-other",
          name: "ethnicity-asian-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Your Asian background (optional)"
          }
        }) }}
      {% endset %}
        
      {{ govukRadios({
        idPrefix: "ethnic-group",
        name: "ethnic-group",
        fieldset: {
            legend: {
              text: "Which one best describes your Asian or Asian British background?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
        items: [
          {
            text: "Bangladeshi"
          },
          {
            text: "Chinese"
          },
          {
            text: "Indian"
          },
          {
            text: "Pakistani"
          },
          {
            text: "Another Asian background",
            conditional: {
              html: asianOtherHtml
            }
          },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
        ]
        }) }}

            <br>
            {{ govukButton({
              text: "Continue"
            }) }}
    <br>
    {{ govukDetails({
          summaryText: "Why we are asking this question",
          text: "This information helps us check that we’re treating people equally and fairly. It helps us to meet our commitment to equality (under the Equality Act 2010)."
    }) }}

      </form>

    </div>
</div>

{% endblock %}