{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{# un comment to change the service name in the header
{% block header %}
{% if data['respondent'] == 'true' %} 
   {{ govukHeader({
  homepageUrl: "/",
  serviceName: "Respond to a divorce application",
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}         
{% else %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for a divorce",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endif %}
{% endblock %}
#}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['respondent'] == 'true' %} 
        <form action="/pcq-v2/respondent-ethnicity-answer" method="post" novalidate>
      {% else %}
        <form action="/pcq-v2/applicant-ethnicity-answer" method="post" novalidate>

      {% endif %}

      {{ govukRadios({
        idPrefix: "ethnic-group",
        name: "ethnic-group",
        fieldset: {
            legend: {
              text: "What is your ethnic group?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
        items: [
          {
              value: "Asian or Asian British",
              text: "Asian or Asian British",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani'
              }
            },
            {
              value: "Black, African, Black British or Caribbean",
              text: "Black, African, Black British or Caribbean",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any Black background'
              }
            },
             {
              value: "Mixed or multiple ethnic groups",
              text: "Mixed or multiple ethnic groups",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any Mixed background'
              }
            },
            {
              value: "White",
              text: "White",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any White background'
              }
            },
            {
              value: "Another ethnic group",
              text: "Another ethnic group",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any other ethnic group, for example, Arab'
              }
            },
            {
              divider: "or"
            },
            {
              value: "Prefer not to say",
              text: "Prefer not to say",
              label: {
                classes: 'govuk-label'
              }
            }
          ]
        }) }}
        <br>

        {{ govukButton({

          text: "Continue"

        }) }}
    <br>
    {{ govukDetails({
          summaryText: "Why we are asking this question",
          text: "This information helps us check that we’re treating people equally and fairly. It helps us to meet our commitment to equality (under the Equality Act 2010)."
    }) }}

      </form>
    </div>
  </div>
{% endblock %}