{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{# un comment to change the service name in the header
{% block header %}
{% if data['respondent'] == 'true' %} 
   {{ govukHeader({
  homepageUrl: "/",
  serviceName: "Respond to a divorce application",
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}         
{% else %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for a divorce",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endif %}
{% endblock %}
#}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if data['respondent'] == 'true' %} 
        <form action="./sexual-orientation?respondent=true" method="post" novalidate>  
      {% else %}
        <form action="./sexual-orientation?respondent=false" method="post" novalidate>
      {% endif %}

        
        {% set otherOtherHtml %}
        {{ govukInput({
          id: "gender-other",
          name: "gender-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Please enter your gender"
          }
        }) }}
      {% endset %}
      
        {{ govukRadios({
          idPrefix: "gender-same-as-birth",
          name: "gender-same-as-birth",
          fieldset: {
            legend: {
              text: "Is your gender the same as the sex you were registered at birth?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
                conditional: {
                 html: otherOtherHtml
                }
            },
            {
              divider: "or"
             },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

                <br>            
            {{ govukButton({
              text: "Continue"
            }) }}
    <br>
    {{ govukDetails({
          summaryText: "Why we are asking this question",
          text: "This information helps us check that we’re treating people equally and fairly. It helps us to meet our commitment to equality (under the Equality Act 2010)."
    }) }}

      </form>
    </div>
  </div>
{% endblock %}