{% extends "layout.html" %}

{% block pageTitle %}
  Equality questions - gender
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/gender-next-q" method="post" novalidate>
        
        {% set otherOtherHtml %}
        {{ govukInput({
          id: "gender-other",
          name: "gender-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            value: "your-gender",
            text: "Please enter your gender"
          }
        }) }}
      {% endset %}
      
        {{ govukRadios({
          idPrefix: "gender-same-as-birth",
          name: "gender-same-as-birth",
          fieldset: {
            legend: {
              text: "Is your gender the same as the sex you were registered at birth?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
                conditional: {
                 html: otherOtherHtml
                }
            },
            {
              divider: "or"
             },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

                <br>            
            {{ govukButton({
              text: "Continue"
            }) }}
    <br>
    {{ govukDetails({
          summaryText: "Why we are asking this question",
          text: "This information helps us check that we’re treating people equally and fairly. It helps us to meet our commitment to equality (under the Equality Act 2010)."
    }) }}

      </form>
    </div>
  </div>
{% endblock %}