
{% extends "layout.html" %}

{% block pageTitle %}
  PCQ in Divorce Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Protected Characteristics Questions in Divorce</h1>

        <h2 class="govuk-heading-m">Individual Question Pages</h2>
        <p class="govuk-body">To view individual questions please select from the list below</p>
        
        <ul class="govuk-list govuk-list--bullet">

        <li><a href="introduction.html">Introduction for PCQs</a></li>   
        <li><a href="language.html">English language</a></li>
        <li><a href="age.html">Age</a></li>
        <li><a href="sex.html">Sex</a></li>
        <li><a href="gender.html">Gender</a></li>
        <li><a href="sexual-orientation.html">Sexual orientation</a></li>
        <li><a href="marriage-or-civil-partnership">Marriage or civil partnership</a></li>
        <li><a href="ethnicity.html">Ethnicity</a></li>
        <li><a href="religion.html">Religion</a></li>
        <li><a href="disability.html">Disability</a></li>
        <li><a href="pregnancy">Pregnancy</a></li>
        <li><a href="thank-you.html">Thank you page</a></li>

      </ul>
    </div>
</div>

{% endblock %}
