
{% extends "layout.html" %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Protected Characteristics Questions Divorce</h1>

      <h2 class="govuk-heading-l">Select the version you want</h2>


        <ul class="govuk-list govuk-list--bullet">

        <li><a href="pcq-v1/index.html">version 1 user testing 27 August 2019 to 28 August 2019</a></li>
        <li><a href="pcq-v2/index.html">version 2 user testing 17 September 2019 to 18 September</a></li>


      </ul>
    </div>
</div>

{% endblock %}
