
{% extends "layout.html" %}
{% include "includes/cookie-banner.html" %}

{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{# un comment to change the service name in the header
{% block header %}
{% if data['respondent'] == 'true' %} 
   {{ govukHeader({
      serviceName: "Respond to a divorce application",
    }) }}         
{% else %}
  {{ govukHeader({
    serviceName: "Apply for a divorce",
  }) }}
{% endif %}
{% endblock %}
#}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  text: "Back"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if data['respondent'] == 'true' %} 
        <div class="govuk-panel govuk-panel--confirmation" style="background-color:#005ea5" >
        <h1 class="govuk-panel__title" style="font-size:38px">
          Equality and diversity questions
        </h1>
        <div class="govuk-panel__body" style="font-size:24px">        
          The next questions are optional and are not part of your divorce response
        </div>
      </div>
      <p class="govuk-body">Your answers will help us check we are treating people fairly and equally.</p>
      <p class="govuk-body">Find out how we use this information in <a href="privacy-policy">our privacy policy.</a></p>
      <br> 
          {{ govukButton({
            text: "Continue to the questions",
            classes: "govuk-!-margin-right-1",
            href: "./age?respondent=true&"
          }) }}

          {{ govukButton({
            text: "I don't want to answer these questions",
            classes: "govuk-button--secondary",
            href: "https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" 
          }) }}

      {% else %}
        <div class="govuk-panel govuk-panel--confirmation" style="background-color:#005ea5" >
        <h1 class="govuk-panel__title" style="font-size:38px">
          Equality and diversity questions
        </h1>
        <div class="govuk-panel__body" style="font-size:24px">        
          The next questions are optional and are not part of your divorce application
        </div>
      </div>
      <p class="govuk-body">Your answers will help us check we are treating people fairly and equally.</p>
      <p class="govuk-body">Find out how we use this information in <a href="privacy-policy">our privacy policy.</a></p>
      <br> 

          {{ govukButton({
            text: "Continue to the questions",
            classes: "govuk-!-margin-right-1",
            href: "./age?respondent=false&"
          }) }}

          {{ govukButton({
            text: "I don't want to answer these questions",
            classes: "govuk-button--secondary",
            href: "https://div-pcq-prototype.herokuapp.com/check-your-answers"
          }) }}
      {% endif %}

    <br>
    {{ govukDetails({
          summaryText: "Why we are asking these questions",
          text: "This information helps us check that we’re treating people equally and fairly. It helps us to meet our commitment to equality (under the Equality Act 2010)."
    }) }}

    </div>
</div>

{% endblock %}