
{% extends "layout.html" %}

{% block pageTitle %}
  Equality questions - introduction
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if data['respondent'] == 'true' %} 
        <div class="govuk-panel govuk-panel--confirmation" style="background-color:#005ea5" >
        <h1 class="govuk-panel__title" style="font-size:38px">
          Equality and diversity questions
        </h1>
        <div class="govuk-panel__body" style="font-size:24px">        
          The next questions are optional and are not part of your {{serviceUserAction}}
        </div>
      </div>
      <p class="govuk-body">Your answers will help us check we are treating people fairly and equally.</p>
      <p class="govuk-body">Find out how we use this information in <a href="privacy-policy">our privacy policy.</a></p>
      <br> 
          {{ govukButton({
            text: "Continue to the questions",
            classes: "govuk-!-margin-right-1",
            href: "./age?respondent=true&"
          }) }}

          {{ govukButton({
            text: "I don't want to answer these questions",
            classes: "govuk-button--secondary",
            href: "https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" 
          }) }}

      {% else %}
        <div class="govuk-panel govuk-panel--confirmation" style="background-color:#005ea5" >
        <h1 class="govuk-panel__title" style="font-size:38px">
          Equality and diversity questions
        </h1>
        <div class="govuk-panel__body" style="font-size:24px">        
          The next questions are optional and are not part of your {{serviceUserAction}}
        </div>
      </div>
      <p class="govuk-body">Your answers will help us check we are treating people fairly and equally.</p>
      <p class="govuk-body">Find out how we use this information in <a href="privacy-policy">our privacy policy.</a></p>
      <br> 

          {{ govukButton({
            text: "Continue to the questions",
            classes: "govuk-!-margin-right-1",
            href: "./age?respondent=false&"
          }) }}

          {{ govukButton({
            text: "I don't want to answer these questions",
            classes: "govuk-button--secondary",
            href: "https://div-pcq-prototype.herokuapp.com/check-your-answers"
          }) }}
      {% endif %}

    <br>
    {{ govukDetails({
          summaryText: "Why we are asking these questions",
          text: "This information helps us check that we’re treating people equally and fairly. It helps us to meet our commitment to equality (under the Equality Act 2010)."
    }) }}

    </div>
</div>

{% endblock %}