{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{# un comment to change the service name in the header
{% block header %}
{% if data['respondent'] == 'true' %} 
   {{ govukHeader({
  homepageUrl: "/",
  serviceName: "Respond to a divorce application",
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}         
{% else %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for a divorce",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endif %}
{% endblock %}
#}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['respondent'] == 'true' %} 
        <form action="/pcq-v2/respondent-language" method="post" novalidate>  
      {% else %}
        <form action="/pcq-v2/applicant-language" method="post" novalidate>
      {% endif %}


        {% set otherOtherHtml %}
        {{ govukInput({
          id: "english-language-other",
          name: "english-language-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter your main language (including British Sign Language)"
          }
        }) }}
        {% endset %}
        

        {{ govukRadios({
          idPrefix: "english-language",
          name: "english-language",
          fieldset: {
            legend: {
              text: "What is your main language?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
        
            {
              value: "English or Welsh",
              text: "English or Welsh"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
              html: otherOtherHtml
              }
            },
            {
              divider: "or"
            },
            {
              value: "Prefer not to say",
              text: "Prefer not to say"
            }
          ]
        }) }}
        <br>

        {{ govukButton({
          text: "Continue"
        }) }}
    <br>
    {{ govukDetails({
          summaryText: "Why we are asking this question",
          text: "This information helps us check that we’re treating people equally and fairly. It helps us to meet our commitment to equality (under the Equality Act 2010)."
    }) }}

      </form>
    </div>
  </div>
{% endblock %}