{% extends "layout.html" %}

{% block pageTitle %}
  Equality questions - preg nancy
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/pregnancy-next-q" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "are-you-pregnant",
          name: "are-you-pregnant",
          fieldset: {
            legend: {
              text: "Are you pregnant or have you been pregnant in the last year?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}
        <br>

        {{ govukButton({
           text: "Continue"
        }) }}
    <br>
    {{ govukDetails({
          summaryText: "Why we are asking this question",
          text: "This information helps us check that we’re treating people equally and fairly. It helps us to meet our commitment to equality (under the Equality Act 2010)."
    }) }}

      </form>
    </div>
  </div>
{% endblock %}