{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}
{% from "details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{# un comment to change the service name in the header
{% block header %}
{% if data['respondent'] == 'true' %} 
   {{ govukHeader({
  homepageUrl: "/",
  serviceName: "Respond to a divorce application",
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}         
{% else %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for a divorce",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endif %}
{% endblock %}
#}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['respondent'] == 'true' %} 
        <div class="govuk-panel govuk-panel--confirmation" style="background-color:#005ea5" >
        <h1 class="govuk-panel__title" style="font-size:38px">
          You have answered the equality questions
        </h1>
        <div class="govuk-panel__body" style="font-size:24px">        
          Now you need to finish your divorce response
        </div>
      </div>
      <br>
          {{ govukButton({
            text: "Finish your divorce response",
            href: "https://div-pcq-prototype.herokuapp.com/aos/check-your-answers"
           }) }}

      {% else %}
       <div class="govuk-panel govuk-panel--confirmation" style="background-color:#005ea5" >
        <h1 class="govuk-panel__title" style="font-size:38px">
          You have answered the equality questions
        </h1>
        <div class="govuk-panel__body" style="font-size:24px">        
          Now you need to finish your divorce application
        </div>
      </div>
      <br> 
            {{ govukButton({
            text: "Finish your divorce application",
            href: "https://div-pcq-prototype.herokuapp.com/check-your-answers"
           }) }}

      {% endif %}
 
    </div>
</div>

{% endblock %}